body {
	font-family: Arial, sans-serif;
	margin: 50px;
}

button{
margin: 5px;
}

div img{
	display: inline;
	width: 200px;
	margin-right: 0px;
	vertical-align: middle;


}

#result  {
	font-size: 24pt;
	font-style: italic;
}

